{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="{% static 'script/jquery-1.11.0.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            $("h2").click(function(){

                $.get('{% url 'test_ajax' %}',function(data){





                    if (data){
                        alert('ajax!')
                    }

                });
            });
        });
    </script>
</head>

<body>
<p>welcome,{{ user.first_name }}</p>

<h2 id="test">test ajax! click!</h2>
<div id="ajax">

</div>
</body>
</html>